@import url('./antd.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.staff{
  position: relative;
}
.staff-overlay{
  background-color: rgba(5, 35, 112, 0.9);
  height: 0px;
  transition: all .4s ease-in-out;
}
.staff-overlay p{
  display: none;
  transition: all .4s ease-in-out;
}
.staff:hover .staff-overlay{
  height: 30%;
}
.staff:hover .staff-overlay p{
  display: block;
}
